/**
 * Here are the common style variables built into uni-app
 *
 * These style variables are used by many third-party plug-ins on the uni-app official extension plug-in and plug-in market (https://ext.dcloud.net.cn).
 * If you are a plugin developer, it is recommended that you use scss preprocessing and use these variables directly in the plugin code (no need to import this file)，It is convenient for users to develop apps with the same overall style by building blocks
 *
 */

/**
 * If you are an App developer (plug-in user), you can customize your own plug-in theme by modifying these variables to realize the custom theme function
 *
 * If your project also uses scss preprocessing, you can also use the following variables directly in your scss code without importing this file
 */

/* color variable */

/* behavior-related colors */
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

/* Text base color */
$uni-text-color:#333;//basic color
$uni-text-color-inverse:#fff;//reverse color
$uni-text-color-grey:#999;//Auxiliary gray, such as loading more prompt information
$uni-text-color-placeholder: #808080;
$uni-text-color-disable:#c0c0c0;

/* background color */
$uni-bg-color:#ffffff;
$uni-bg-color-grey:#f8f8f8;
$uni-bg-color-hover:#f1f1f1;//click status color
$uni-bg-color-mask:rgba(0, 0, 0, 0.4);//mask color

/* border color */
$uni-border-color:#c8c7cc;

/* size variable */

/* character size */
$uni-font-size-sm:24rpx;
$uni-font-size-base:28rpx;
$uni-font-size-lg:32rpx;

/* size of the picture */
$uni-img-size-sm:40rpx;
$uni-img-size-base:52rpx;
$uni-img-size-lg:80rpx;

/* Border Radius */
$uni-border-radius-sm: 4rpx;
$uni-border-radius-base: 6rpx;
$uni-border-radius-lg: 12rpx;
$uni-border-radius-circle: 50%;

/* horizontal spacing */
$uni-spacing-row-sm: 10px;
$uni-spacing-row-base: 20rpx;
$uni-spacing-row-lg: 30rpx;

/* vertical spacing */
$uni-spacing-col-sm: 8rpx;
$uni-spacing-col-base: 16rpx;
$uni-spacing-col-lg: 24rpx;

/* transparency */
$uni-opacity-disabled: 0.3; // The transparency of the disabled state of the component

/* Article scene related */
$uni-color-title: #2C405A; // Article title color
$uni-font-size-title:40rpx;
$uni-color-subtitle: #555555; // Secondary title color
$uni-font-size-subtitle:36rpx;
$uni-color-paragraph: #3F536E; // article paragraph color
$uni-font-size-paragraph:30rpx;